@font-face {
  font-family: "Museo-300";
  src: url("../fonts/MuseoSansCyrl-300.ttf") format("ttf"), url("../fonts/MuseoSansCyrl-300.eot") format("eot"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo-500";
  src: url("../fonts/MuseoSansCyrl-500.ttf") format("ttf"), url("../fonts/MuseoSansCyrl-500.eot") format("eot"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("ttf"), url("../fonts/RobotoCondensed-Regular.eot") format("eot"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
  text-transform: none;
}
a:hover {
  text-decoration: none;
}
.breadcrumb {
  padding: 180px 0 0 0;
  margin-bottom: 20px;
  margin-left: calc((100% - 1260px) / 2);
  background-color: #fff;
}
@media (max-width: 1360px) {
  .breadcrumb {
    margin-left: 42px;
  }
}
@media (max-width: 767px) {
  .breadcrumb {
    margin-left: 10px;
    padding: 90px 0 0 0;
  }
}
.bx-breadcrumb {
  margin: 0;
  color: #a3a3a3;
  font-family: 'Museo-300', Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.bx-breadcrumb a {
  color: #a3a3a3;
}
.bx-breadcrumb a:hover {
  color: #353535;
}
.link__back {
  text-decoration: none;
  color: #40a035;
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  margin-bottom: 40px;
  display: inline-block;
}
@media (max-width: 1024px) {
  .link__back {
    margin-left: 10px;
  }
}
.link__back:hover {
  text-decoration: none;
}
.link__back:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #40a035;
  border-right-color: transparent;
  border-top-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 6px;
}
.section__wrapper {
  max-width: 1260px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.section__title {
  font-size: 36px;
  line-height: 48px;
  font-family: "Museo-500", Arial, sans-serif;
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .section__title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
    max-width: 275px;
  }
}
.section__text {
  font-size: 16px;
  line-height: 28px;
  color: #000;
  font-family: "Museo-300", Arial, sans-serif;
  width: 100%;
  max-width: 549px;
}
@media (max-width: 1279px) {
  .section__text {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .section__text {
    font-size: 14px;
    line-height: 24px;
  }
}
.section__main__img {
  max-width: 900px;
  width: 50%;
}
@media (max-width: 1279px) {
  .section__main__img {
    width: 100%;
    margin-bottom: 30px;
  }
}
.section__main__img img {
  width: 100%;
  height: auto;
}
.section__content {
  width: 50%;
  padding: 0 88px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1279px) {
  .section__content {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .section__content {
    padding: 0 10px;
  }
}
.items__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .items__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 10px;
  }
}
.items__wrapper .item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
  margin-bottom: 42px;
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
}
@media (max-width: 768px) {
  .items__wrapper .item__wrapper {
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.items__wrapper .item__icon {
  min-width: 60px;
  width: 60px;
  height: 60px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .items__wrapper .item__icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
.items__wrapper .item__icon img {
  height: 100%;
  width: auto;
}
.items__wrapper .item__text {
  font-size: 16px;
  line-height: 28px;
  color: #3a393c;
  width: 100%;
  max-width: 344px;
}
@media (max-width: 767px) {
  .items__wrapper .item__text {
    font-size: 14px;
    line-height: 24px;
  }
}
.form__subscribe {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 36px 0 36px 140px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
  box-shadow: 0 0 9px rgba(0,0,0,0.1);
  position: relative;
}
.form__subscribe:after {
  content: '';
  display: block;
  position: absolute;
  right: 109px;
  top: -12px;
  width: 90px;
  height: 90px;
  background: url("../img/icons/envelope.svg") no-repeat 50% 50%;
  background-size: 100%;
}
@media (max-width: 1024px) {
  .form__subscribe {
    max-width: 619px;
    margin: 0 auto;
  }
  .form__subscribe:after {
    width: 64px;
    height: 64px;
    top: -8px;
    right: 0;
  }
}
@media (max-width: 767px) {
  .form__subscribe {
    max-width: 300px;
  }
  .form__subscribe:after {
    width: 44px;
    height: 44px;
    top: -8px;
    right: -2px;
  }
}
.form__title {
  font-size: 24px;
  line-height: 34px;
  color: rgba(51,51,51,0.78);
  font-family: "Museo-500", Arial, sans-serif;
}
.input__wrapper {
  padding: 12px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(51,51,51,0.15);
  background: #fff;
  border-radius: 4px;
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
}
.input__wrapper:active,
.input__wrapper:focus {
  outline: none;
  border-color: rgba(51,51,51,0.15);
}
.button__wrapper {
  display: block;
  background-color: #309b42;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #309b42;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 14px;
  font-family: "Museo-300", Arial, sans-serif;
  letter-spacing: 0.1em;
}
.button__wrapper:active,
.button__wrapper:focus {
  border-color: #40a035;
  outline: none;
}
.button__wrapper:hover {
  background-color: #1b840f;
  border-color: #1b840f;
}
.cards__items__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 1042px) {
  .cards__items__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cards__items__wrapper .card__wrapper:nth-child(1),
  .cards__items__wrapper .card__wrapper:nth-child(2) {
    margin-bottom: 40px;
  }
}
@media (max-width: 450px) {
  .cards__items__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.card__wrapper {
  width: 406px;
  border: 1px solid #d3d4d7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 30px 27px 30px 27px;
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 12.5px;
  line-height: 15px;
  margin-right: 21px;
}
@media (max-width: 450px) {
  .card__wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.card__wrapper:last-child {
  margin-right: 0;
}
.card__wrapper a.card__text-green {
  color: #3ea938;
  text-decoration: none;
}
.card__wrapper a.button__wrapper {
  text-decoration: none;
  padding: 16px 0;
  font-family: "Museo-300", Arial, sans-serif;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.1em;
}
.card__image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 26px;
}
.card__image__wrapper img {
  height: 100%;
  width: auto;
  max-height: 265px;
  max-width: 352px;
}
.card__image__corp {
  width: 86px;
  height: 86px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 23px;
  color: #fff;
  margin-bottom: 12px;
}
.card__image__corp .corp {
  font-family: "Museo-500", Arial, sans-serif;
  font-weight: bold;
  font-size: 26.5px;
  line-height: 30px;
}
.card__image__standart {
  width: 86px;
  height: 86px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  line-height: 120%;
  font-family: "Museo-500", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.card__image {
  width: 270px;
  height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.card__image img {
  width: auto;
  max-width: 270px;
  height: 100%;
  max-height: 264px;
}
.card__title {
  font-size: 19px;
  line-height: 23px;
  color: #3a393c;
  text-align: center;
  font-family: "Museo-500", Arial, sans-serif;
  margin-bottom: 7px;
}
.card__subtitle {
  font-size: 12.5px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.26px;
  color: #c4c4c4;
  font-family: "Museo-500", Arial, sans-serif;
  margin-bottom: 28px;
}
.card__row {
  font-family: "Museo-500", Arial, sans-serif;
  font-size: 12.5px;
  line-height: 15px;
  color: #3a393c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 8.6px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #d3d4d7;
}
.card__row+.card__text-gray {
  margin-top: 12px;
}
.card__row-price {
  margin-bottom: 22px;
  padding: 0;
}
@media (max-width: 767px) {
  .card__row-price {
    border-bottom: 0;
  }
}
.card__row-price .card__text--medium {
  width: 100%;
  text-align: right;
}
.card__text-small {
  font-size: 14px;
  line-height: 16px;
  font-family: "Museo-300", Arial, sans-serif;
}
.card__text-gray {
  color: #c4c4c4;
}
.card__text-green {
  display: block;
  margin: 14px 0 20px 0;
  text-decoration: underline;
}
.card__text--medium {
  font-size: 28px;
  line-height: 34px;
  font-family: "Museo-500", Arial, sans-serif;
  color: #3a393c;
}
.tabs__select {
  max-width: 100%;
  width: 100%;
  display: none;
  margin: 0 auto 40px auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 890px) {
  .tabs__select {
    display: block;
  }
}
.tabs__select .ui-selectmenu-button {
  width: 100% !important;
  background: #fff !important;
  font-family: 'Museo-300', Arial, sans-serif !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #40a035;
  font-size: 16px;
  line-height: 20px;
  color: #40a035;
  border-radius: 3px;
  position: relative;
  padding: 15px 20px;
}
.tabs__select .ui-selectmenu-button .ui-icon {
  background: url("../img/icons/select_arrow_mobile.svg") !important;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 25px;
}
.tabs__select .ui-selectmenu-text {
  margin-right: 10px;
}
#tabs__select-menu {
  border: 1px solid #dcdcdc;
  -webkit-box-shadow: 3px 3px 4px rgba(53,53,53,0.15);
  box-shadow: 3px 3px 4px rgba(53,53,53,0.15);
  border-radius: 3px;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
#tabs__select-menu .ui-menu-item {
  text-align: left;
  background: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Museo-300', Arial, sans-serif !important;
  line-height: 20px;
}
#tabs__select-menu .ui-menu-item.ui-state-focus {
  border: none;
  margin: 0;
}
#tabs__select-menu .activated {
  background: rgba(64,160,53,0.1);
}
.select-wrapper {
  width: 100%;
  margin-right: 20px;
}
.select-wrapper_turn,
.select-wrapper_month {
  max-width: 224px;
}
.select-wrapper_house {
  max-width: 122px;
}
.select-wrapper_year {
  max-width: 122px;
}
@media (max-width: 600px) {
  .select-wrapper_turn,
  .select-wrapper_month {
    max-width: 116px;
  }
  .select-wrapper_house,
  .select-wrapper_year {
    max-width: 88px;
  }
}
@media (max-width: 414px) {
  .select-wrapper_house {
    margin-right: 0;
  }
  .select-wrapper_month {
    position: relative;
    left: -87px;
  }
  .select-wrapper_year {
    position: relative;
    left: 136px;
    margin-right: 0;
  }
}
.select-wrapper .ui-selectmenu-button {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: none !important;
  cursor: pointer;
  border-radius: 2px;
}
@media (max-width: 600px) {
  .select-wrapper .ui-selectmenu-button {
    padding: 17px 12px;
  }
}
.select-wrapper .ui-selectmenu-text {
  font-family: 'Geometria', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #3a393c;
  text-transform: capitalize;
}
@media (max-width: 600px) {
  .select-wrapper .ui-selectmenu-text {
    font-size: 12px;
    line-height: 16px;
    margin-right: 5px;
  }
}
.select-wrapper .ui-icon {
  margin-top: 0;
}
.ui-menu::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.ui-menu::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.ui-menu::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.8);
}
.ui-menu::-webkit-scrollbar-track {
  background-color: #eee;
  border-left: 1px solid #eee;
}
.ui-menu {
  max-height: 200px;
  text-align: left;
}
.ui-button:hover,
.ui-button:focus {
  border: 1px solid #d3d4d7;
  background: #fff;
  color: #000;
  font-weight: normal;
}
.ui-selectmenu-button {
  border: 1px solid #d3d4d7;
  width: 100%;
  background: #fff;
  font-weight: 300;
  color: #343435;
  -webkit-transition-property: color, background, border, -webkit-transform, -webkit-filter, -webkit-box-shadow;
  transition-property: color, background, border, -webkit-transform, -webkit-filter, -webkit-box-shadow;
  -o-transition-property: color, background, border, transform, filter, box-shadow;
  transition-property: color, background, border, transform, filter, box-shadow;
  transition-property: color, background, border, transform, filter, box-shadow, -webkit-transform, -webkit-filter, -webkit-box-shadow;
  display: block;
  border-radius: 2px;
  line-height: 17px;
  font-size: 14px;
  padding: 16px 20px 15px;
  height: auto;
  font-family: 'Montserrat', Arial, sans-serif;
  outline: none;
}
.select__title {
  font-family: 'Geometria', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #d3d4d7;
  margin-bottom: 14px;
  display: block;
}
.ui-selectmenu-menu .ui-menu {
  padding: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-radius: 0;
}
.ui-menu .ui-menu-item.ui-state-focus {
  font-weight: inherit;
}
.ui-menu li {
  font-size: 16px;
  line-height: 1.875;
  background-color: #fff;
}
.ui-menu .ui-menu-item {
  padding: 3px 1em 3px 0.4em;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.ui-menu .ui-menu-item.ui-state-focus {
  border: 1px solid #ccc;
  background: #ededed;
  font-weight: normal;
  color: #2b2b2b;
}
.gallery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 62px;
}
@media (max-width: 1279px) {
  .gallery__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 10px;
  }
}
.gallery img {
  display: block;
}
.gallery__first-item {
  margin-right: 20px;
  min-width: 620px;
  width: 620px;
  height: 380px;
  overflow: hidden;
}
@media (max-width: 1279px) {
  .gallery__first-item {
    margin-right: 0;
    min-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
}
.gallery__first-item img {
  width: 100%;
}
.gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1279px) {
  .gallery__items {
    width: 100%;
  }
}
.gallery__items a {
  width: 300px;
  height: 177px;
  overflow: hidden;
  margin-right: 20px;
}
.gallery__items a:nth-child(1),
.gallery__items a:nth-child(2) {
  margin-bottom: 26px;
}
.gallery__items a:nth-child(2n) {
  margin-right: 0;
}
@media (max-width: 1279px) {
  .gallery__items a {
    max-width: 50%;
    width: calc(50% - 7.5px);
    height: auto;
    margin-right: 15px;
  }
  .gallery__items a:nth-child(1),
  .gallery__items a:nth-child(2) {
    margin-bottom: 15px;
  }
}
.gallery__items img {
  width: 100%;
  height: auto;
}
.gallery__more {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  font-family: "Museo-500", Arial, sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #fff;
}
@media (max-width: 767px) {
  .gallery__more {
    font-size: 44px;
    line-height: 53px;
  }
}
.gallery__more-wrapper {
  position: relative;
  width: 300px;
  height: 177px;
  overflow: hidden;
}
@media (max-width: 1279px) {
  .gallery__more-wrapper {
    max-width: 100%;
    width: calc(50% - 7.5px);
    height: auto;
    margin-bottom: 40px;
  }
}
.gallery__more-wrapper a {
  margin-right: 0;
}
.gallery__more-img {
  position: absolute;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
}
.pagination__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: "Museo-300", Arial, sans-serif;
  margin-bottom: 37px;
}
.pagination__list__wrapper {
  margin: 0 42px;
  max-width: 402px;
  width: 402px;
  overflow: hidden;
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-transform: translateX(calc(-88px * 0));
  -ms-transform: translateX(calc(-88px * 0));
  transform: translateX(calc(-88px * 0));
}
.pagination__list__item {
  width: 50px;
  min-width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #fafafa;
  margin-right: 38px;
  color: #353535;
  font-size: 18px;
  line-height: 20px;
  font-family: "Museo-300", Arial, sans-serif;
  border-radius: 50%;
  cursor: pointer;
}
.pagination__list__item-active,
.pagination__list__item:hover {
  background: rgba(64,160,53,0.1);
  color: #40a035;
}
.pagination__title {
  font-size: 14px;
  line-height: 17px;
  color: #a3a3a3;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}
.pagination__btn {
  cursor: pointer;
  width: 20px;
  min-width: 20px;
  height: 20px;
}
.pagination__btn img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .pagination__wrapper {
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .pagination__title {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  .pagination__list__wrapper {
    margin: 0 15px;
    width: 230px;
  }
  .pagination__list__item {
    width: 35px;
    min-width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 20px;
    margin-right: 14px;
  }
}
.tabs__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 1px solid #d3d4d7;
  font-family: "Museo-300", Arial, sans-seri;
  margin-bottom: 20px;
}
.tabs__wrapper .tab__item {
  margin-right: 40px;
  color: #a3a3a3;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Museo-300', Arial, sans-serif;
  padding: 0 8px 25px 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.tabs__wrapper .tab__item-active {
  border-bottom-color: #40a035;
  color: #40a035;
}
.tabs__wrapper .tab__item:hover {
  color: #40a035;
}
@media (max-width: 768px) {
  .tabs__wrapper {
    display: none;
  }
}
.tabs__content {
  display: none;
  position: relative;
}
.tabs__content-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.tabs__content-floor {
  height: 289px;
}
.popup__wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
}
.popup__wrapper-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__bg {
  position: absolute;
  background: rgba(246,246,246,0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.popup__title {
  font-size: 24px;
  line-height: 34px;
  color: #353535;
  font-family: "Museo-500", Arial, sans-serif;
  margin-bottom: 39px;
  text-align: center;
}
.popup__text-small {
  font-size: 12px;
  line-height: 130%;
  color: #a3a3a3;
  font-family: "Museo-300", Arial, sans-serif;
  text-align: center;
}
.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #a3a3a3;
  font-family: "Museo-300", Arial, sans-serif;
  display: inline-block;
  cursor: pointer;
}
.popup__body {
  width: 752px;
  position: relative;
  padding: 80px 53px 54px 53px;
  background: #fff;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popup__body .form__subscribe {
  background: none;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
}
.popup__body .input__wrapper {
  width: 362px;
  margin-right: 25px;
}
.popup__body .button__wrapper {
  width: 259px;
}
.section-1 {
  margin: 0 auto 121px auto;
}
.section-1 .item__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 0;
}
.section-1 .item__wrapper:first-child {
  width: 620px;
  margin-right: 80px;
}
@media (max-width: 768px) {
  .section-1 .item__wrapper:first-child {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .section-1 {
    margin: 0 auto 40px auto;
  }
}
.section-1 .card__wrapper {
  width: 560px;
  padding: 39px 40px;
}
@media (max-width: 1279px) {
  .section-1 .card__wrapper {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .section-1 .card__wrapper {
    width: 100%;
    margin-bottom: 0;
    padding: 13px 17px 20px 18px;
  }
}
.section-1 .card__title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 767px) {
  .section-1 .card__title__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.section-1 .card__views-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #c4c4c4;
  font-size: 14px;
  line-height: 20px;
  font-family: "Museo-300", Arial, sans-serif;
}
.section-1 .card__views-counter .img__wrapper {
  margin-right: 9px;
  width: 20px;
  height: 20px;
}
.section-1 .card__views-counter .img__wrapper img {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .section-1 .card__views-counter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    margin-bottom: 8px;
  }
}
.section-1 .card__title__text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.section-1 .card__title__text .card__title {
  font-size: 24px;
  line-height: 29px;
}
.section-1 .card__title__text .card__subtitle {
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 767px) {
  .section-1 .card__title__text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }
  .section-1 .card__title__text .card__title {
    font-size: 18px;
    line-height: 22px;
  }
  .section-1 .card__title__text .card__subtitle {
    font-size: 12px;
    line-height: 14px;
  }
}
.section-1 .card__options__wrapper {
  position: relative;
}
@media (max-width: 767px) {
  .section-1 .card__options__wrapper {
    marign-bottom: 8pxs;
  }
}
.section-1 .card__options__wrapper .img__wrapper {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.section-1 .card__options__wrapper .img__wrapper img {
  width: 100%;
  height: auto;
}
.section-1 .card__options__wrapper .options__menu {
  display: none;
  position: absolute;
  width: 193px;
  top: 42px;
  left: -81px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  -webkit-box-shadow: 3px 3px 4px rgba(53,53,53,0.15);
  box-shadow: 3px 3px 4px rgba(53,53,53,0.15);
  border-radius: 3px;
  padding: 3px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
}
.section-1 .card__options__wrapper .options__menu__item {
  display: block;
  padding: 10px 19px;
  font-size: 16px;
  line-height: 20px;
  color: #353535;
  font-family: "Museo-300", Arial, sans-serif;
  cursor: pointer;
}
.section-1 .card__options__wrapper .options__menu:after {
  content: '';
  display: none;
  position: absolute;
  top: -6px;
  left: 90px;
  width: 8px;
  height: 8px;
  border: 1px solid #dcdcdc;
  border-right-color: transparent;
  border-bottom-color: transparent;
  background-color: #fff;
  z-index: 3;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.section-1 .card__options__wrapper .options__menu:hover {
  display: block;
}
.section-1 .card__options__wrapper .options__menu:hover:after {
  display: block;
}
.section-1 .card__options__wrapper.active .options__menu {
  display: block;
}
.section-1 .card__options__wrapper.active .options__menu:after {
  display: block;
}
.section-1 .card__wrapper .card__subtitle {
  margin-bottom: 21px;
}
.section-1 .card__wrapper .card__row {
  font-size: 16px;
  line-height: 19px;
  padding: 18px 0 11px 0;
}
.section-1 .card__wrapper a.card__text-green {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}
.section-1 .card__wrapper .card__row-price {
  padding: 0;
  margin-bottom: 20px;
  border-bottom: none;
}
.section-1 .card__wrapper .card__row-price .card__text--medium {
  font-size: 36px;
  line-height: 43px;
}
.section-1 .card__wrapper .button__wrapper {
  font-size: 14px;
  line-height: 17px;
}
@media (max-width: 450px) {
  .section-1 .card__wrapper .card__row {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 0 7px 0;
  }
  .section-1 .card__wrapper a.card__text-green {
    text-decoration: none;
    font-size: 10px;
    line-height: 16px;
    margin: 10px 0 20px 0;
  }
  .section-1 .card__wrapper .card__row-price {
    padding: 0;
    margin-bottom: 16px;
  }
  .section-1 .card__wrapper .card__row-price .card__text--medium {
    font-size: 28px;
    line-height: 34px;
  }
  .section-1 .card__wrapper .button__wrapper {
    font-size: 11px;
    line-height: 13px;
    padding: 12px 0 11px 0;
  }
}
.tabs__content__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
.appartment-info__wrapper .img__wrapper {
  width: 110px;
  margin-bottom: 10px;
}
.appartment-info__wrapper .img__wrapper:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .appartment-info__wrapper .img__wrapper {
    width: 60px;
  }
}
.appartment-info__wrapper .img__wrapper img {
  width: 100%;
  height: auto;
}
.slider__wrapper-top {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.thumb-slider {
  width: 100%;
  position: relative;
}
.thumb-slider__slides {
  width: 100%;
  height: 338px;
}
@media (max-width: 375px) {
  .thumb-slider__slides {
    height: 215px;
  }
  .thumb-slider__slides .tabs__content-item[data-tab="tab__plane"] {
    height: 276px;
  }
}
.thumb-slider__slides>a {
  display: none;
}
.thumb-slider__slides>a.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
}
.thumb-slider__thumbnails {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  cursor: default;
}
@media (max-width: 414px) {
  .thumb-slider__thumbnails {
    margin-top: 0;
  }
}
.thumb-slider__thumbnails-item {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  border: 1px solid #f5f5f5;
  margin-right: 20px;
  cursor: pointer;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.thumb-slider__thumbnails-item:last-child {
  margin-right: 0;
}
.tabs__content-zoom {
  position: absolute;
  width: 167px;
  height: 45px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50px;
  background-color: #c4c4c4;
  color: #fff;
  font-family: "Museo-300", "Arial", sans-serif;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
}
.tabs__content-zoom span {
  display: block;
  margin-right: 12px;
}
.tabs__content a:hover .tabs__content-zoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
a.tabs__content:hover .tabs__content-zoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs__content-item-img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}
.tabs__content-item-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs__content-item div:first-child {
  position: relative;
}
a[data-content-tab="floor"]>div:first-child {
  position: relative;
}
a[data-content-tab="floor"] canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
a[data-content-tab="floor"] area {
  display: none;
}
@media (max-width: 1024px) {
  .tabs__content-zoom {
    display: none !important;
  }
}
.mfp-figure:after {
  background-color: #fff;
}
.floor-modal {
  width: 65%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}
.floor-modal img {
  width: 100%;
  height: auto;
  display: block;
}
.floor-modal canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.tabs__content-floor>div {
  width: 100%;
}
.section-3 {
  max-width: 1920px;
  margin: 0 auto 96px auto;
  padding: 64px 0 64px 53px;
  background: -webkit-gradient(linear, right top, left top, color-stop(82.8%, #f5f5f5), color-stop(82.8%, #fff));
  background: -o-linear-gradient(right, #f5f5f5 82.8%, #fff 82.8%);
  background: linear-gradient(to left, #f5f5f5 82.8%, #fff 82.8%);
  border-radius: 3px 0 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 1279px) {
  .section-3 {
    background: #f5f5f5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 10px;
  }
  .section-3 .section__content {
    padding-left: 10px;
  }
}
@media (max-width: 767px) {
  .section-3 {
    margin: 0 auto 60px auto;
    padding: 20px 0;
  }
}
.section-3 .section__main__img {
  position: relative;
}
.section-3 .concept__wrapper {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .section-3 .concept__wrapper {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 20px;
  }
}
.section-3 .concept__type {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  font-family: "Museo-300", Arial, sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 110px;
  height: 110px;
  text-decoration: underline;
  margin-bottom: 10px;
  cursor: pointer;
}
.section-3 .concept__type-active {
  text-decoration: none;
}
.section-3 .concept__type:last-child {
  margin-bottom: 0;
}
.section-3 .concept__type[data-concept-type="forest"] {
  background: rgba(49,155,66,0.5);
  border-radius: 0 50% 0 50%;
}
.section-3 .concept__type[data-concept-type="forest"].concept__type-active {
  background: #319b42;
}
.section-3 .concept__type[data-concept-type="urban"] {
  background: rgba(255,255,255,0.3);
  border-radius: 50% 0 50% 0;
}
.section-3 .concept__type[data-concept-type="urban"].concept__type-active {
  background: #fff;
  color: #353535;
}
@media (max-width: 767px) {
  .section-3 .concept__type {
    width: 56px;
    height: 56px;
    font-size: 12px;
    line-height: 26px;
  }
}
.section-3 .main-slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
}
.section-3 .main-slider.slider-active {
  position: relative;
  opacity: 1;
  z-index: 1;
}
.section-4 {
  max-width: 1920px;
  margin: 0 auto 93px auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 498px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1279px) {
  .section-4 {
    height: auto;
  }
}
.section-4 .section__content {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .section-4 .section__content {
    margin: 0 auto 40px auto;
  }
}
@media (max-width: 450px) {
  .section-4 {
    margin-bottom: 58px;
  }
}
.section-4 .section__title {
  padding: 0 0 0 0;
}
.section-4 .section__text {
  max-width: 493px;
  margin-bottom: 49px;
}
@media (max-width: 1279px) {
  .section-4 .section__text {
    max-width: 100%;
  }
}
.section-4 .slider__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 945px;
  overflow: hidden;
}
@media (max-width: 1800px) {
  .section-4 .slider__wrapper {
    width: calc(100vw / 2);
  }
}
@media (max-width: 1279px) {
  .section-4 .slider__wrapper {
    position: relative;
    width: 100%;
  }
}
.section-4 .slider__wrapper .slider-2 {
  height: 498px;
  width: 1242px;
  z-index: 1;
}
@media (max-width: 450px) {
  .section-4 .slider__wrapper .slider-2 {
    height: 249px;
    width: 600px;
  }
}
.section-4 .slider__wrapper .slide {
  width: 380px !important;
  height: 498px;
  margin-right: 34px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
@media (max-width: 450px) {
  .section-4 .slider__wrapper .slide {
    height: 249px;
    width: 190px !important;
    margin-right: 10px;
  }
}
.section-4 .slider__wrapper .slick-list {
  height: 498px;
  overflow: hidden;
}
@media (max-width: 450px) {
  .section-4 .slider__wrapper .slick-list {
    height: 249px;
  }
  .section-4 .slider__wrapper .slick-list .slick-slide img {
    height: 100%;
    width: auto;
  }
}
.section-4 .buttons__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.section-4 .buttons__slider .slick-prev.slick-arrow {
  position: relative;
  left: auto;
  bottom: auto;
  background: url("../img/arrow-prev-gray.svg") no-repeat 50% 50%;
  background-size: 100%;
  margin-right: 29px;
}
.section-4 .buttons__slider .slick-next.slick-arrow {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  background: url("../img/arrow-next-gray.svg") no-repeat 50% 50%;
  background-size: 100%;
}
.section-5 {
  max-width: 1920px;
  margin: 0 auto 96px auto;
  padding: 64px 0 64px 53px;
  border-radius: 3px 0 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 1279px) {
  .section-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 30px 10px;
  }
}
@media (max-width: 450px) {
  .section-5 {
    margin-bottom: 60px;
  }
}
.section-5 .section__content {
  padding: 88px 68px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.section-5 .section__title {
  max-width: 378px;
}
.section-5 .section__text {
  max-width: 549px;
}
@media (max-width: 1279px) {
  .section-5 .section__content {
    padding: 0;
  }
  .section-5 .section__title {
    max-width: 100%;
  }
  .section-5 .section__text {
    max-width: 100%;
  }
}
.section-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto 96px auto;
}
.section-6 .section__content {
  padding: 0 88px 0 0;
}
.section-6 .section__images__wrapper {
  width: 549px;
}
.section-6 .section__images__wrapper .img__wrapper {
  width: 100%;
  margin-bottom: 28px;
}
.section-6 .section__images__wrapper .img__wrapper:last-child {
  margin-bottom: 0;
}
.section-6 .section__images__wrapper .img__wrapper img {
  width: 100%;
  height: auto;
}
@media (max-width: 1279px) {
  .section-6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 10px;
  }
  .section-6 .section__content {
    padding: 0 0 0 0;
    margin-bottom: 30px;
  }
  .section-6 .section__images__wrapper {
    width: 100%;
  }
  .section-6 .section__images__wrapper .img__wrapper:first-child {
    margin-bottom: 10px;
  }
}
.section-7 {
  margin: 0 auto 80px auto;
}
.section-7 .form__title {
  margin-right: 80px;
}
.section-7 .input__wrapper {
  max-width: 254px;
  width: 100%;
  margin-right: 25px;
}
@media (max-width: 1279px) {
  .section-7 .section__title {
    display: none;
  }
  .section-7 .form__subscribe {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 38px 31px 48px 40px;
  }
  .section-7 .form__title {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .section-7 .input__wrapper {
    width: 100%;
    max-width: 355px;
    margin-right: 16px;
  }
  .section-7 .button__wrapper {
    width: 100%;
    max-width: 168px;
  }
}
@media (max-width: 767px) {
  .section-7 .form__subscribe {
    padding: 38px 27px 48px 24px;
  }
  .section-7 .input__wrapper {
    margin-bottom: 16px;
    max-width: 252px;
    margin-right: 0;
  }
  .section-7 .button__wrapper {
    max-width: 252px;
  }
}
.section-8 {
  margin: 0 auto 39px auto;
}
.section-8 .section__title {
  margin-bottom: 40px;
}
@media (max-width: 1279px) {
  .section-8 {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (max-width: 450px) {
  .section-8 {
    margin-bottom: 0;
  }
}
.mfp-counter {
  font-family: "Museo-300", Arial, sans-serif;
}
.section__disclamer {
  font-size: 12px;
  line-height: 14px;
  color: rgba(58,57,60,0.5);
  margin-bottom: 80px;
}
.section__disclamer .disclamer__text {
  font-family: "RobotoCondensed", Arial, sans-serif;
}
@media (max-width: 1260px) {
  .section__disclamer {
    padding: 0 10px;
    margin-bottom: 0;
    position: relative;
  }
  .section__disclamer .disclamer__text {
    height: 300px;
    overflow: auto;
    padding-bottom: 60px;
  }
  .section__disclamer:after {
    content: '';
    display: block;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-58.33%, rgba(255,255,255,0)), color-stop(52.99%, #fff));
    background: -o-linear-gradient(top, rgba(255,255,255,0) -58.33%, #fff 52.99%);
    background: linear-gradient(180deg, rgba(255,255,255,0) -58.33%, #fff 52.99%);
    z-index: 1;
  }
}

/*# sourceMappingURL=maps/style.css.map */
