@import "mixin/flex.styl"
@import "fonts.styl"
@import "default.styl"

.breadcrumb
  padding: 180px 0 0 0
  margin-bottom: 20px
  margin-left: calc((100% - 1260px)/2)
  background-color: #fff

@media(max-width: 1360px)
  .breadcrumb
    margin-left: 42px


@media(max-width: 767px)
  .breadcrumb
    margin-left: 10px
    padding: 90px 0 0 0



.bx-breadcrumb
  margin: 0
  color: #A3A3A3
  font-family: 'Museo-300', Arial, sans-serif
  font-size: 14px
  line-height: 22px


.bx-breadcrumb a
  color: #A3A3A3


.bx-breadcrumb a:hover
  color: #353535


.link__back
  text-decoration: none
  color: #40a035
  font-family: "Museo-300", Arial, sans-serif
  font-size: 16px
  line-height: 19px
  cursor: pointer
  margin-bottom: 40px
  display: inline-block
  @media(max-width: 1024px)
    margin-left: 10px

.link__back:hover
  text-decoration: none

.link__back:before
  content: ''
  display: inline-block
  width: 10px
  height: 10px
  border: 1px solid #40a035
  border-right-color: transparent
  border-top-color: transparent
  transform: rotate(45deg)
  margin-right: 6px

.section
  &__wrapper
    max-width: 1260px
    margin: 0 auto
    box-sizing: border-box
  &__title
    font-size: 36px
    line-height: 48px
    font-family: "Museo-500", Arial, sans-serif
    margin-bottom: 26px
    @media(max-width: 767px)
      font-size: 30px
      line-height: 42px
      margin-bottom: 20px
      max-width: 275px
  &__text
    font-size: 16px
    line-height: 28px
    color: #000
    font-family: "Museo-300", Arial, sans-serif
    width: 100%
    max-width: 549px
    @media(max-width: 1279px)
      max-width: 100%
    @media(max-width: 767px)
      font-size: 14px
      line-height: 24px
  &__main__img
    max-width: 900px
    width: 50%
    @media(max-width: 1279px)
      width: 100%
      margin-bottom: 30px
    img
      width: 100%
      height: auto
  &__content
    width: 50%
    padding: 0 88px
    box-sizing: border-box
    @media(max-width: 1279px)
      width: 100%
      padding: 0 20px
    @media(max-width: 767px)
      padding: 0 10px



.items__wrapper
  flex()
  flex-wrap: wrap
  @media(max-width: 768px)
    flex-direction: column
    padding: 0 10px
  .item
    &__wrapper
      flex(flex-start, center, row)
      width: 50%
      margin-bottom: 42px
      font-family: "Museo-300", Arial, sans-serif
      font-size: 16px
      line-height: 28px
      @media(max-width: 768px)
        width: 100%
        align-items: flex-start
    &__icon
      min-width: 60px
      width: 60px
      height: 60px
      margin-right: 30px
      @media(max-width: 767px)
        width: 40px
        min-width: 40px
        height: 40px
        margin-right: 20px
      img
        height: 100%
        width: auto
    &__text
      font-size: 16px
      line-height: 28px
      color: #3A393C
      width: 100%
      max-width: 344px
      @media(max-width: 767px)
        font-size: 14px
        line-height: 24px

.form
  &__subscribe
    width: 100%
    background-color: #fff
    border-radius: 8px
    flex(flex-start, center, row)
    padding: 36px 0 36px 140px
    box-sizing: border-box
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1)
    position: relative
    &:after
      content: ''
      display: block
      position: absolute
      right: 109px
      top: -12px
      width: 90px
      height: 90px
      background: url("../img/icons/envelope.svg") no-repeat 50% 50%
      background-size: 100%
    @media (max-width: 1024px)
      max-width: 619px
      margin: 0 auto
      &:after
        width: 64px
        height: 64px
        top: -8px
        right: 0
    @media(max-width: 767px)
      max-width: 300px
      &:after
        width: 44px
        height: 44px
        top: -8px
        right: -2px


  &__title
    font-size: 24px
    line-height: 34px
    color: rgba(51, 51, 51, 0.78)
    font-family: "Museo-500", Arial, sans-serif

.input__wrapper
  padding: 12px 16px
  box-sizing: border-box
  border: 1px solid rgba(51, 51, 51, 0.15)
  background: #fff
  border-radius: 4px
  font-family: "Museo-300", Arial, sans-serif
  font-size:  16px
  line-height: 140%
  &:active, &:focus
    outline: none
    border-color: rgba(51, 51, 51, 0.15)

.button__wrapper
  display: block
  background-color: #309B42
  color: #ffffff
  text-transform: uppercase
  text-align: center
  border: 1px solid #309B42
  border-radius: 4px
  padding: 16px 32px
  cursor: pointer
  box-sizing: border-box
  font-size: 12px
  line-height: 14px
  font-family: "Museo-300", Arial, sans-serif
  letter-spacing: 0.1em
  &:active, &:focus
    border-color: #40a035
    outline: none
  &:hover
    background-color: #1B840F
    border-color: #1B840F

.cards__items__wrapper
  width: 100%
  flex()
  @media(max-width: 1042px)
    flex-wrap: wrap
    .card__wrapper:nth-child(1),
    .card__wrapper:nth-child(2)
      margin-bottom: 40px
  @media(max-width: 450px)
    flex-direction: column
.card
  &__wrapper
    width: 406px
    border: 1px solid #D3D4D7
    box-sizing: border-box
    border-radius: 3px
    padding: 30px 27px 30px 27px
    font-family: "Museo-300", Arial, sans-serif
    font-size: 12.5px
    line-height: 15px
    margin-right: 21px
    @media(max-width: 450px)
      width: 100%
      margin-right: 0
      margin-bottom: 40px
    &:last-child
      margin-right: 0
    a.card__text-green
      color: #3EA938
      text-decoration: none
    a.button__wrapper
      text-decoration: none
      padding: 16px 0
      font-family: "Museo-300", Arial, sans-serif
      font-size: 11px
      line-height: 13px
      letter-spacing: 0.1em
  &__image
    &__wrapper
      flex(center, center, row)
      margin-bottom: 26px
      img
        height: 100%
        width: auto
        max-height: 265px
        max-width: 352px
    &__corp
      width: 86px
      height: 86px
      box-sizing: border-box
      padding: 20px 23px
      color: #fff
      margin-bottom: 12px
      .corp
        font-family: "Museo-500", Arial, sans-serif
        font-weight: bold
        font-size: 26.5px
        line-height: 30px
    &__standart
      width: 86px
      height: 86px
      box-sizing: border-box
      color: #fff
      flex(center, center, row)
      font-size: 14px
      line-height: 120%
      font-family: "Museo-500", Arial, sans-serif
      text-transform: uppercase
      font-weight: bold
      text-align: center
  &__image
    width: 270px
    height: 264px
    flex(center, center, row)
    img
      width: auto
      max-width: 270px
      height: 100%
      max-height: 264px
  &__title
    font-size: 19px
    line-height: 23px
    color: #3A393C
    text-align: center
    font-family: "Museo-500", Arial, sans-serif
    margin-bottom: 7px
  &__subtitle
    font-size: 12.5px
    line-height: 15px
    text-align: center
    letter-spacing: 0.26px
    color: #C4C4C4
    font-family: "Museo-500", Arial, sans-serif
    margin-bottom: 28px
  &__row
    font-family: "Museo-500", Arial, sans-serif
    font-size: 12.5px
    line-height: 15px
    color: #3A393C
    flex(space-between, center, row)
    padding: 8.6px 0
    box-sizing: border-box
    border-bottom: 1px solid #D3D4D7
    &+.card__text-gray
      margin-top: 12px
    &-price
      margin-bottom: 22px
      padding: 0
      @media(max-width: 767px)
        border-bottom: 0
      .card__text--medium
        width: 100%
        text-align: right
  &__text-small
    font-size: 14px
    line-height: 16px
    font-family: "Museo-300", Arial, sans-serif

  &__text-gray
    color: #C4C4C4
  &__text-green
    display: block
    margin: 14px 0 20px 0
    text-decoration: underline
  &__text--medium
    font-size: 28px
    line-height: 34px
    font-family: "Museo-500", Arial, sans-serif
    color: #3A393C

.tabs__select
  max-width: 100%
  width: 100%
  display: none
  margin: 0 auto 40px auto
  box-sizing: border-box

@media (max-width: 890px)
  .tabs__select
    display: block


.tabs__select .ui-selectmenu-button
  width: 100% !important
  background: #fff !important
  font-family: 'Museo-300', Arial, sans-serif !important
  box-sizing: border-box
  border: 1px solid #40A035
  font-size: 16px
  line-height: 20px
  color: #40A035
  border-radius: 3px
  position: relative
  padding: 15px 20px

.tabs__select .ui-selectmenu-button .ui-icon
  background: url("../img/icons/select_arrow_mobile.svg") !important
  width: 10px
  height: 10px
  position: absolute
  right: 20px
  top: 25px

.tabs__select .ui-selectmenu-text
  margin-right: 10px

#tabs__select-menu
  border: 1px solid #dcdcdc
  box-shadow: 3px 3px 4px rgba(53px, 53px, 53px, 0.15)
  border-radius: 3px
  transform: translateY(5px)

#tabs__select-menu .ui-menu-item
  text-align: left
  background: #fff
  border: none
  padding: 10px 20px
  font-size: 16px
  font-family: 'Museo-300', Arial, sans-serif !important
  line-height: 20px


#tabs__select-menu .ui-menu-item.ui-state-focus
  border: none
  margin: 0

#tabs__select-menu .activated
  background: rgba(64, 160, 53, 0.1)


@import 'content/select.styl'
@import 'content/gallery.styl'
@import 'content/pagination.styl'
@import 'content/tabs.styl'
@import 'content/popup.styl'
@import 'content/section-1.styl'
@import 'content/section-3.styl'
@import 'content/section-4.styl'
@import 'content/section-5.styl'
@import 'content/section-6.styl'
@import 'content/section-7.styl'
@import 'content/section-8.styl'


.mfp-counter{
  font-family: "Museo-300", Arial, sans-serif
}

.section__disclamer
  font-size: 12px
  line-height: 14px
  color: rgba(58, 57, 60, 0.5)
  margin-bottom: 80px
  .disclamer__text
    font-family: "RobotoCondensed", Arial, sans-serif
  @media(max-width: 1260px)
    padding: 0 10px
    margin-bottom: 0
    position: relative
    .disclamer__text
      height: 300px
      overflow: auto
      padding-bottom: 60px
    &:after
      content: ''
      display: block
      height: 60px
      position: absolute
      bottom: 0
      left: 0
      right: 0
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) -58.33%, #FFFFFF 52.99%);
      z-index: 1