head
    title Заголовок
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/jquery-ui.min.css")
    link(rel="stylesheet" href="css/magnific-popup.css")
    link(rel="stylesheet" href="css/slick.css")
    link(rel="stylesheet" href="css/slick-theme.css")
    link(rel="stylesheet" href="css/style.css")


