html
    include head
    body
        .breadcrumb
            .bx-breadcrumb
                a(href="/" class="uppercase") Главная /
                a(href="/planirovki-i-ceny/" class="uppercase") Планировки и цены /
                span(class="current uppercase") 6 очередь 12 корпус 333 кв.
        .section__wrapper
            a(href="#").link__back Вернуться к списку квартир
        include content/section-1
        include content/section-2
        include content/section-3
        include content/section-4
        include content/section-5
        include content/section-6
        include content/section-7
        include content/section-8
        .section__wrapper.section__disclamer
                .disclamer__text *Предполагаемый срок получения разрешения на ввод в эксплуатацию согласно Проектной декларации
                    br
                    | **Отделка, предусмотренная условиями договора участия в долевом строительстве.
                    br
                    | Реализация проекта ведется на основании 214 Федерального закона. Договоры участия в долевом строительстве подлежат регистрации в Управление Федеральной службы государственной регистрации, кадастра и картографии (УФРС). Наши услуги по регистрации бесплатные. О порядке подачи документов на регистрацию и сроках оплаты первого взноса уточните у Вашего менеджера. Сведения о планировочных решениях и ценах носят информационный характер. Просим Вас уточнить актуальность информации при заключении договора участия в долевом строительстве. Возможны изменения проектной документации и/или площади квартир в процессе строительства. Данное предложение носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437(2) ГКРФ.
                    br
                    | Указанные на сайте цены не являются окончательными, застройщик может изменить в любое время указанные на сайте цены без какого-либо предварительного уведомления. Цена договора формируется индивидуально и определяется непосредственно при подписании договора с конкретным Клиентом и действительна при покупке в ипотеку или 100% оплате. Информацию о действующих скидках и акциях уточняйте у менеджеров по продажам.
                    br
                    | Информация о площади и стоимости квартиры, в том числе отдельных помещений или иных частей квартиры является ориентировочной (планируемой) и не является публичной офертой. В процессе строительства многоквартирного жилого дома возможны изменения параметров помещений, входящих в состав квартиры. При условии соблюдения требований действующего законодательства РФ, Застройщик вправе без согласования (уведомления) с Участником долевого строительства вносить изменения в проектную документацию многоквартирного жилого дома и (или) конкретной квартиры, при условии их согласования с соответствующими государственными органами и организациями, или изменения, производимые без такого согласования, если такое согласование не требуется по законодательству РФ, в т.ч.: - появление или удаление (исключение) или изменение местоположения козырьков парадных, пандусов, перил лестниц,
                    br
                    |- изменение проекта благоустройства прилегающей территории,
                    br
                    |- появление или удаление дополнительных балконов, лоджий,
                    br
                    |- размещение в квартирах объектов согласно требованиям противопожарных норм(рукавов, вентилей и т.д.),
                    br
                    |- создание вентиляционных каналов и шахт в кухнях, санузлах, коридорах, которые могут выступать из стен и уменьшать площадь соответствующей части квартиры.
        include content/popup-subscribe
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/jquery-ui.min.js")
        script(src="js/magnific-popup.min.js")
        script(src="js/gallery.js")
        script(src="js/thumb-slider.js")
        script(src="js/main.js")
        script(src="js/slick.min.js")
        script(src="js/slick-init.js")
        script(src="js/pagination.js")
        script(src="js/tabs.js")
