@import '../mixin/flex.styl'

.gallery
  &__wrapper
    flex()
    margin-bottom: 62px
    @media(max-width: 1279px)
      flex-wrap: wrap
      margin: 0 10px
  img
    display: block
  &__first-item
    margin-right: 20px
    min-width: 620px
    width: 620px
    height: 380px
    overflow: hidden
    @media(max-width: 1279px)
      margin-right: 0
      min-width: 100%
      height: auto
      margin-bottom: 15px
    img
      width:100%
  &__items
    flex()
    flex-wrap: wrap
    @media(max-width: 1279px)
      width: 100%
    a
      width: 300px
      height: 177px
      overflow: hidden
      margin-right: 20px
      &:nth-child(1),
      &:nth-child(2)
        margin-bottom: 26px
      &:nth-child(2n)
        margin-right: 0
      @media(max-width: 1279px)
        max-width: 50%
        width: calc(50% - 7.5px)
        height: auto
        margin-right: 15px
        &:nth-child(1),
        &:nth-child(2)
          margin-bottom: 15px

    img
      width: 100%
      height: auto
  &__more
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    pointer-events: none
    font-family: "Museo-500", Arial, sans-serif
    font-weight: bold
    font-size: 72px
    line-height: 84px
    flex(center, center, row)
    color: #fff
    @media(max-width: 767px)
      font-size: 44px
      line-height: 53px
    &-wrapper
      position: relative
      width: 300px
      height: 177px
      overflow: hidden
      @media(max-width: 1279px)
        max-width: 100%
        width: calc(50% - 7.5px)
        height: auto
        margin-bottom: 40px
      a
        margin-right: 0
    &-img
      position: absolute
      opacity: 0
      z-index: -1
      pointer-events: none
      left: 0
      top: 0
      width: 100%