@import "../mixin/flex.styl"

.pagination
  &__wrapper
    width: 100%
    flex(flex-start, center, row)
    font-family: "Museo-300", Arial, sans-serif
    margin-bottom: 37px
  &__list__wrapper
    margin: 0 42px
    max-width: 402px
    width: 402px
    overflow: hidden
  &__list
    flex(flex-start, center, row)
    transform: translateX(calc(-88px * 0))
  &__list__item
    width: 50px
    min-width: 50px
    height: 50px
    flex(center, center, row)
    background-color: #FAFAFA
    margin-right: 38px
    color: #353535
    font-size: 18px
    line-height: 20px
    font-family: "Museo-300", Arial, sans-serif
    border-radius: 50%
    cursor: pointer
    &-active, &:hover
      background: rgba(64, 160, 53, 0.1)
      color: #40A035
  &__title
    font-size: 14px
    line-height: 17px
    color: #A3A3A3
    flex-grow: 1
    text-align: right
  &__btn
    cursor: pointer
    width: 20px
    min-width: 20px
    height: 20px
    img
      width: 100%
      height: auto
  @media(max-width: 768px)
    &__wrapper
      margin-bottom: 30px
      flex-wrap: wrap
      justify-content: center
    &__title
      order: -1
      width: 100%
      text-align: left
      margin-bottom: 20px
    &__list__wrapper
      margin: 0 15px
      width: 230px
    &__list__item
      width: 35px
      min-width: 35px
      height: 35px
      font-size: 16px
      line-height: 20px
      margin-right: 14px
