@import "../mixin/flex.styl"

.popup
  &__wrapper
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    display: none
    justify-content: center
    align-items: center
    z-index: 100
    &-active
      display: flex
  &__bg
    position: absolute
    background: rgba(246, 246, 246, 0.7)
    top: 0
    bottom: 0
    left: 0
    right: 0
  &__title
    font-size: 24px
    line-height: 34px
    color: #353535
    font-family: "Museo-500", Arial, sans-serif
    margin-bottom: 39px
    text-align: center
  &__text-small
    font-size: 12px
    line-height: 130%
    color: #a3a3a3
    font-family: "Museo-300", Arial, sans-serif
    text-align: center
  &__close
    position: absolute
    top: 20px
    right: 20px
    font-size: 14px
    line-height: 22px
    color: #a3a3a3
    font-family: "Museo-300", Arial, sans-serif
    display: inline-block
    cursor: pointer
  &__body
    width: 752px
    position: relative
    padding: 80px 53px 54px 53px
    background: #fff
    z-index: 1
    box-sizing: border-box
    .form__subscribe
      background: none
      padding: 0
      margin-bottom: 20px
      width: 100%
    .input__wrapper
      width: 362px
      margin-right: 25px
    .button__wrapper
      width: 259px



