@import '../mixin/flex.styl'

.section-3
  max-width: 1920px
  margin: 0 auto 96px auto
  padding: 64px 0 64px 53px
  background: linear-gradient(to left, #F5F5F5 82.8%, white 82.8% )
  border-radius: 3px 0 0 3px
  flex(flex-start, center, row)
  @media(max-width: 1279px)
    background: #f5f5f5
    flex-direction: column
    padding: 40px 10px
    .section__content
      padding-left: 10px
  @media(max-width: 767px)
    margin: 0 auto 60px auto
    padding: 20px 0
  .section__main__img
    position: relative
  .concept
    &__wrapper
      position: absolute
      right: 0
      height: 100%
      z-index: 10
      flex(center, center, column)
      padding-right: 20px
      @media(max-width: 767px)
        justify-content: flex-start
        padding-top: 20px
    &__type
      font-size: 16px
      line-height: 26px
      color: #fff
      font-family: "Museo-300", Arial, sans-serif
      text-transform: uppercase
      flex(center, center, row)
      width: 110px
      height: 110px
      text-decoration: underline
      margin-bottom: 10px
      cursor: pointer
      &-active
        text-decoration: none
      &:last-child
        margin-bottom: 0
      &[data-concept-type="forest"]
        background: rgba(49, 155, 66, 0.5)
        border-radius: 0 50% 0 50%
        &.concept__type-active
          background: rgba(49, 155, 66, 1)
      &[data-concept-type="urban"]
        background: rgba(255, 255, 255, 0.3)
        border-radius: 50% 0 50% 0
        &.concept__type-active
          background: rgba(255, 255, 255, 1)
          color: #353535
      @media(max-width: 767px)
        width: 56px
        height: 56px
        font-size: 12px
        line-height: 26px

  .main-slider
    position: absolute
    left: 0
    right: 0
    top: 0
    z-index: -1
    opacity: 0
    &.slider-active
      position: relative
      opacity: 1
      z-index: 1



