@import '../mixin/flex.styl'
.section-4
  max-width: 1920px
  margin: 0 auto 93px auto
  box-sizing: border-box
  position: relative
  height: 498px
  flex(center, flex-start, column)
  @media(max-width: 1279px)
    height: auto
  .section__content
    width: 100%
    max-width: 1260px
    margin: 0 auto
    @media(max-width: 1279px)
      margin: 0 auto 40px auto
  @media(max-width: 450px)
    margin-bottom: 58px
  .section__title
    padding: 0 0 0 0
  .section__text
    max-width: 493px
    margin-bottom: 49px
    @media(max-width: 1279px)
      max-width: 100%
  .slider__wrapper
    position: absolute
    right: 0
    top: 0
    width: 945px
    overflow: hidden
    @media(max-width: 1800px)
      width: calc(100vw/2)
    @media(max-width: 1279px)
      position: relative
      width: 100%
    .slider-2
      height: 498px
      width: 1242px
      z-index: 1
      @media(max-width: 450px)
        height: 249px
        width: 600px
    .slide
      width: 380px !important
      height: 498px
      margin-right: 34px
      box-sizing: border-box
      outline: none
      @media(max-width: 450px)
        height: 249px
        width: 190px !important
        margin-right: 10px
    .slick-list
      height: 498px
      overflow: hidden
      @media(max-width: 450px)
        height: 249px
        .slick-slide
          img
            height: 100%
            width: auto

  .buttons__slider
    flex(flex-start, center, row)
    .slick-prev.slick-arrow
      position: relative
      left: auto
      bottom: auto
      background: url("../img/arrow-prev-gray.svg") no-repeat 50% 50%
      background-size: 100%
      margin-right: 29px
    .slick-next.slick-arrow
      position: relative
      left: auto
      right: auto
      bottom: auto
      background: url('../img/arrow-next-gray.svg') no-repeat 50% 50%
      background-size: 100%






