.section-8
  margin: 0 auto 39px auto
  .section__title
    margin-bottom: 40px
  @media(max-width: 1279px)
    padding: 0 10px
    box-sizing border-box
  @media(max-width: 450px)
    margin-bottom: 0