@import '../mixin/flex.styl'

.section-5
  max-width: 1920px
  margin: 0 auto 96px auto
  padding: 64px 0 64px 53px
  border-radius: 3px 0 0 3px
  flex(flex-start, center, row)
  @media(max-width: 1279px)
    flex-direction: column
    background-color: #f5f5f5
    padding: 30px 10px
  @media(max-width: 450px)
    margin-bottom: 60px
  .section__content
    padding: 88px 68px
    box-sizing: border-box
    background-color: #F5F5F5
  .section__title
    max-width: 378px
  .section__text
    max-width: 549px
  @media(max-width: 1279px)
    .section__content
      padding: 0
    .section__title
      max-width: 100%
    .section__text
      max-width: 100%





