.section-7
  margin: 0 auto 80px auto
  .form__title
    margin-right: 80px
  .input__wrapper
    max-width: 254px
    width: 100%
    margin-right: 25px
  @media(max-width: 1279px)
    .section__title
      display: none
    .form__subscribe
      flex-wrap: wrap
      padding: 38px 31px 48px 40px
    .form__title
      margin-right: 0
      margin-bottom: 20px
      width: 100%
    .input__wrapper
      width: 100%
      max-width: 355px
      margin-right: 16px
    .button__wrapper
      width: 100%
      max-width: 168px
  @media(max-width: 767px)
    .form__subscribe
      padding: 38px 27px 48px 24px
    .input__wrapper
      margin-bottom: 16px
      max-width: 252px
      margin-right: 0
    .button__wrapper
      max-width: 252px
