@import "../mixin/flex.styl"
.section-1
  margin: 0 auto 121px auto
  .item__wrapper
    flex-direction: column
    justify-content flex-start
    align-items: flex-start
    margin-bottom: 0
    &:first-child
      width: 620px
      margin-right: 80px
      @media(max-width: 768px)
        width: 100%
        margin-right: 0
        margin-bottom: 40px
  @media(max-width: 767px)
    margin: 0 auto 40px auto
  .card
    &__wrapper
      width: 560px
      padding: 39px 40px
      @media(max-width: 1279px)
        width: 45%
      @media(max-width: 768px)
        width: 100%
        margin-bottom: 0
        padding: 13px 17px 20px 18px
    &__title__wrapper
      flex(space-between, flex-start, row)
      @media(max-width: 767px)
        flex-wrap: wrap;

    &__views-counter
      flex()
      color: #C4C4C4
      font-size: 14px
      line-height: 20px
      font-family: "Museo-300", Arial, sans-serif
      .img__wrapper
        margin-right: 9px
        width: 20px
        height: 20px
        img
          width: 100%
          height: auto
      @media(max-width: 767px)
        align-items: center
        height: 30px
        margin-bottom: 8px

    &__title__text
      flex-grow: 1
      .card__title
        font-size: 24px
        line-height: 29px
      .card__subtitle
        font-size: 16px
        line-height: 19px
      @media(max-width: 767px)
        order: 1
        width: 100%
        .card__title
          font-size: 18px
          line-height: 22px
        .card__subtitle
          font-size: 12px
          line-height: 14px

    &__options__wrapper
      position: relative
      @media(max-width: 767px){
        marign-bottom: 8pxs
      }
      .img__wrapper
        width: 30px
        height: 30px
        cursor: pointer
        img
          width: 100%
          height: auto
      .options__menu
        display: none
        position: absolute
        width: 193px
        top: 42px
        left: -81px
        background-color: #fff
        border: 1px solid #dcdcdc
        box-shadow: 3px 3px 4px rgba(53, 53, 53, 0.15)
        border-radius: 3px
        padding: 3px 0
        box-sizing: border-box
        z-index: 2
        &__item
          display: block
          padding: 10px 19px
          font-size: 16px
          line-height: 20px
          color: #353535
          font-family: "Museo-300", Arial, sans-serif
          cursor: pointer
        &:after
          content: ''
          display: none
          position: absolute
          top: -6px
          left: 90px
          width: 8px
          height: 8px
          border: 1px solid #dcdcdc
          border-right-color: transparent
          border-bottom-color: transparent
          background-color: #fff
          z-index: 3
          transform: rotate(45deg)
        &:hover
          display: block
        &:hover:after
          display: block
      &.active
        .options__menu
          display: block
          &:after
            display: block
  .card__wrapper
    .card__subtitle
      margin-bottom: 21px
    .card__row
      font-size: 16px
      line-height: 19px
      padding: 18px 0 11px 0
    a.card__text-green
      text-decoration: none
      font-size: 14px
      line-height: 20px
    .card__row-price
      padding: 0
      margin-bottom: 20px
      border-bottom: none
    .card__row-price .card__text--medium
      font-size: 36px
      line-height: 43px
    .button__wrapper
      font-size: 14px
      line-height: 17px
    @media(max-width: 450px)
        .card__row
          font-size: 12px
          line-height: 15px
          padding: 10px 0 7px 0
        a.card__text-green
          text-decoration: none
          font-size: 10px
          line-height: 16px
          margin: 10px 0 20px 0
        .card__row-price
          padding: 0
          margin-bottom: 16px
        .card__row-price .card__text--medium
          font-size: 28px
          line-height: 34px
        .button__wrapper
          font-size: 11px
          line-height: 13px
          padding: 12px 0 11px 0



.tabs__content__slider
  flex(center, center, row)
  width: 100%
.appartment-info__wrapper
  .img__wrapper
    width: 110px
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
    @media(max-width: 767px)
      width: 60px
    img
      width: 100%
      height: auto

.slider__wrapper-top
  flex-grow: 1
.thumb-slider
  width: 100%
  position: relative
  &__slides
    width: 100%
    height: 338px
    @media(max-width: 375px)
      height: 215px
      .tabs__content-item[data-tab="tab__plane"]
        height: 276px
    &>a
      display: none
    &>a.active
      flex(center, center, row)
      width: 100%
      height: 100%
      position: relative
  &__thumbnails
    width: 100%
    margin-top: 30px
    flex(center, flex-start, row)
    cursor: default
    @media(max-width: 414px)
      margin-top: 0
  &__thumbnails-item
    width: 60px
    height: 60px
    border-radius: 3px
    border: 1px solid #f5f5f5
    margin-right: 20px
    cursor: pointer
    background-size: 80%
    background-repeat: no-repeat
    background-position: center
    &:last-child
      margin-right: 0
.tabs__content-zoom
  position: absolute
  width: 167px
  height: 45px
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto
  border-radius: 50px
  background-color: #c4c4c4
  color: #fff
  font-family: "Museo-300", "Arial", sans-serif;
  display: none
  align-items: center
  justify-content: center
  font-size: 14px
  span
    display: block
    margin-right: 12px
.tabs__content a:hover .tabs__content-zoom
  display: flex
a.tabs__content:hover .tabs__content-zoom
  display: flex
.tabs__content-item
  &-img
    height: auto
    max-height: 100%
    max-width: 100%
    width: 100%
  &-active
    display: flex
  div:first-child
    position: relative
a[data-content-tab="floor"]
  &>div:first-child
    position: relative
  canvas
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
  area
    display: none
@media(max-width: 1024px)
  .tabs__content-zoom
    display: none !important


.mfp-figure:after
  background-color: white
.floor-modal
  width: 65%
  margin: 0 auto
  background-color: #ffffff
  position: relative
  img
    width: 100%
    height: auto
    display: block
  canvas
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
.tabs__content-floor>div
  width: 100%












