@import "../mixin/flex.styl"

.section-6
  flex(flex-start, center, row)
  margin: 0 auto 96px auto
  .section__content
    padding: 0 88px 0 0
  .section__images__wrapper
    width: 549px
    .img__wrapper
      width: 100%
      margin-bottom: 28px
      &:last-child
        margin-bottom: 0
      img
        width: 100%
        height: auto
  @media(max-width: 1279px)
    flex-direction: column
    padding: 0 10px
    .section__content
      padding: 0 0 0 0
      margin-bottom: 30px
    .section__images__wrapper
      width: 100%
      .img__wrapper:first-child
        margin-bottom: 10px



