.select-wrapper
  width 100%
  margin-right 20px
  &_turn, &_month
    max-width 224px
  &_house
    max-width 122px
  &_year
    max-width 122px
  @media (max-width 600px)
    &_turn, &_month
      max-width 116px
    &_house, &_year
      max-width 88px
  @media (max-width 414px)
    &_house
      margin-right 0
    &_month
      position relative
      left -87px
    &_year
      position relative
      left 136px
      margin-right 0
  .ui-selectmenu-button
    width 100% !important
    display flex
    flex-direction: row-reverse
    justify-content: space-between
    align-items center
    outline none !important
    cursor pointer
    border-radius 2px
    @media (max-width 600px)
      padding 17px 12px
  .ui-selectmenu-text
    font-family 'Geometria', Arial, sans-serif
    font-size 14px
    line-height 18px
    color #3A393C
    text-transform capitalize
    @media (max-width 600px)
      font-size 12px
      line-height 16px
      margin-right 5px
  .ui-icon
    margin-top 0

.ui-menu::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.ui-menu::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  transition: background-color 0.2s;
}

.ui-menu::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.8);
}

.ui-menu::-webkit-scrollbar-track {
  background-color: #eee;
  border-left: 1px solid #eee;
}

.ui-menu {
  max-height: 200px;
  text-align: left;
}

.ui-button:hover, .ui-button:focus
  border: 1px solid #D3D4D7;
  background #ffffff
  color #000000
  font-weight normal

.ui-selectmenu-button
  border: 1px solid #D3D4D7;
  width: 100%;
  background: #fff;
  font-weight: 300;
  color: #343435;
  transition-property: color, background, border, transform, filter, box-shadow;
  display: block;
  border-radius: 2px;
  line-height 17px
  font-size 14px
  padding 16px 20px 15px
  height auto
  font-family 'Montserrat', Arial, sans-serif
  outline none

.select__title
  font-family 'Geometria', Arial, sans-serif
  font-size 14px
  line-height 17px
  color #D3D4D7
  margin-bottom 14px
  display block

.ui-selectmenu-menu .ui-menu {
  padding: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.ui-menu .ui-menu-item.ui-state-focus {
  font-weight: inherit;
}

.ui-menu li
  font-size 16px
  line-height: 1.875;
  background-color #ffffff

.ui-menu .ui-menu-item
  padding 3px 1em 3px .4em
  font-family 'Montserrat', Arial, sans-serif
  font-size 14px
  line-height 18px
  &.ui-state-focus
    border: 1px solid #ccc
    background: #ededed
    font-weight: normal
    color: #2b2b2b