@import '../mixin/flex.styl'
.tabs__wrapper
  width: 100%
  flex()
  border-bottom: 1px solid #D3D4D7
  font-family: "Museo-300", Arial, sans-seri
  margin-bottom: 20px
  .tab__item
    margin-right: 40px
    color: #A3A3A3
    font-size: 14px
    line-height: 17px
    font-family: 'Museo-300', Arial, sans-serif
    padding: 0 8px 25px 8px
    box-sizing: border-box
    border-bottom: 2px solid transparent
    cursor: pointer
    &-active
      border-bottom-color: #40A035
      color: #40A035
    &:hover
      color: #40A035
  @media(max-width: 768px)
    display: none
.tabs__content
  display: none
  position: relative
  &-active
    flex(flex-start, flex-end, row)
    width: 100%
    height: 100%
  &-floor
    height: 289px
