.popup__wrapper(data-popup-value="subscribe")
    .popup__bg
    .popup__body
        .popup__close Закрыть
        .popup__title Оставьте ваш e-mail, мы отправим
                br
                | вам планировку на почту.
        form(action="#").form__subscribe
            input(type="email" placeholder="Введите E-mail").input__wrapper
            input(type="submit" value="Подписаться").button__wrapper
        .popup__text-small Нажимая на кнопку «Отправить» вы соглашаетесь с политикой обработки персональных данных.
