.section__wrapper.section-7
    .section__title План застройки
    form(action="#").form__subscribe
        .form__title Подписка на новости
        input(type="email" placeholder="Введите E-mail").input__wrapper
        input(type="submit" value="Подписаться").button__wrapper
