.section__wrapper.section-1
    .items__wrapper
        .item__wrapper
            .pagination__wrapper
                .pagination__btn.pagination__btn-prev
                    img(src="img/icons/p-prev.svg")
                .pagination__list__wrapper
                    .pagination__list
                        a(href="#").pagination__list__item 1
                        a(href="#").pagination__list__item 2
                        a(href="#").pagination__list__item 3
                        a(href="#").pagination__list__item 4
                        a(href="#").pagination__list__item 5
                        a(href="#").pagination__list__item 6
                        a(href="#").pagination__list__item 7
                        a(href="#").pagination__list__item 8
                        a(href="#").pagination__list__item 9
                        a(href="#").pagination__list__item.pagination__list__item-active 10
                        a(href="#").pagination__list__item 11
                        a(href="#").pagination__list__item 12
                        a(href="#").pagination__list__item 13
                        a(href="#").pagination__list__item 14
                        a(href="#").pagination__list__item 15
                        a(href="#").pagination__list__item 16
                        a(href="#").pagination__list__item 17
                        a(href="#").pagination__list__item 18
                        a(href="#").pagination__list__item 19
                        a(href="#").pagination__list__item 20
                        a(href="#").pagination__list__item 21
                        a(href="#").pagination__list__item 22
                        a(href="#").pagination__list__item 23
                        a(href="#").pagination__list__item 24
                .pagination__btn.pagination__btn-next
                    img(src="img/icons/p-next.svg")
                .pagination__title Этаж
            .tabs__wrapper
                .tab__item.tab__item-active(data-tab-title="layout") Планировка
                .tab__item(data-tab-title="floor") На этаже
                .tab__item(data-tab-title="map") На карте
                .tab__item(data-tab-title="corp") Корпус
            .tabs__select
                select(id="tabs__select" class="tab-select")
                    option(value="layout") Планировка
                    option(value="floor") На этаже
                    option(value="map") На карте
                    option(value="corp") Корпус
            .tabs__content(data-content-tab="layout").tabs__content-active.tabs__content__wrapper
                .tabs__content__slider
                    .appartment-info__wrapper
                        .img__wrapper
                            img(src="img/rate.svg")
                        .img__wrapper
                            img(src="img/discount.svg")
                    .slider__wrapper-top
                        .thumb-slider
                            .thumb-slider__slides
                                a(href="img/thumb-slider/thumb-slide-1.png" class="tabs__content-plane_img active" data-tab="tab__plane")
                                    img(src="img/thumb-slider/thumb-slide-1.png" class="tabs__content-item-img")
                                    .tabs__content-zoom
                                        span Увеличить
                                        img(src="img/icons/search.svg")
                                a(href="img/thumb-slider/thumb-slide-2.png" class="tabs__content-plane_img" data-tab="tab__plane")
                                    img(src="img/thumb-slider/thumb-slide-2.png" class="tabs__content-item-img")
                                    .tabs__content-zoom
                                        span Увеличить
                                        img(src="img/icons/search.svg")
            a(href="#floor-modal" data-content-tab="floor").tabs__content.modal.tabs__content-floor
                div
                    img(src="img/floor-plan.png").tabs__content-item-img
                    canvas(id="floor-tab-canvas")
                    area(shape="poly" alt="" coords="1715,300,1717,567,1795,567,1795,531,1811,531,1811,300" href="19" title="Flat")
                .tabs__content-zoom
                    span Увеличить
                    img(src="img/icons/search.svg")
            a(href="img/map-top.png").tabs__content.lightbox(data-content-tab="map")
                img(src="img/map-top.png" class="tabs__content-item-img")
                .tabs__content-zoom
                    span Увеличить
                    img(src="img/icons/search.svg")
            a(href="img/corp.png").tabs__content.lightbox(data-content-tab="corp")
                img(src="img/corp.png" class="tabs__content-item-img")
                .tabs__content-zoom
                    span Увеличить
                    img(src="img/icons/search.svg")
            .floor-modal.mfp-hide(id="floor-modal")
                img(src="img/floor-plan.png")
                canvas(id="floor-canvas")
                area(shape="poly" alt="" coords="1715,300,1717,567,1795,567,1795,531,1811,531,1811,300" href="19" title="Flat")
        .card__wrapper
            .card__title__wrapper
                .card__views-counter
                    .img__wrapper
                        img(src="img/icons/card-views.svg")
                    .cunter__text 33
                .card__title__text
                    .card__title 1-комнатная № 308
                    .card__subtitle 16 очередь, 36 корпус, 20 этаж
                .card__options__wrapper
                    .img__wrapper
                        img(src="img/icons/card-options.svg")
                    .options__menu
                        a(href="#").options__menu__item Скачать PDF
                        .options__menu__item.popup__show(data-popup-key="subscribe") Отпарвить на e-mail
            .card__row
                .card__cell-title Ввод в эксплуатацию
                .card__cell-value 3 квартал 2020
            .card__row
                .card__cell-title Отделка
                .card__cell-value Оптима
            .card__row
                .card__cell-title Площадь
                .card__cell-value 45.26 м
                    sup 2
            .card__row
                .card__cell-title Цена за метр (с учетом скидки)
                .card__cell-value 108 500 ₽
            a(href="#").card__text-small.card__text-green Ипотека в месяц от: 26 890 ₽
            .card__row.card__row-price
                .card__text--medium 2 150 678 ₽
            a(href="#").button__wrapper Забронировать квартиру
