.section__wrapper
    .gallery__wrapper
        a(href="img/gallery/gallery-big.png" class="gallery__first-item gallery-magnific-popup")
            img(src="img/gallery/gallery-big.png")
        .gallery__items
            a(href="img/gallery/gallery-items-1.png" class="gallery-magnific-popup")
                img(src="img/gallery/gallery-items-1.png")
            a(href="img/gallery/gallery-items-2.png" class="gallery-magnific-popup")
                img(src="img/gallery/gallery-items-2.png")
            a(href="img/gallery/gallery-items-3.png" class="gallery-magnific-popup")
                img(src="img/gallery/gallery-items-3.png")
            .gallery__more-wrapper
                a(href="img/gallery/gallery-items-4.png" class="gallery-magnific-popup ")
                    img(src="img/gallery/gallery-items-4.png")
                span.gallery__more +3
                a(href="img/gallery/gallery-items-4.png" class="gallery-magnific-popup gallery__more-img")
                    img(src="img/gallery/gallery-items-4.png")
                a(href="img/gallery/gallery-items-4.png" class="gallery-magnific-popup gallery__more-img")
                    img(src="img/gallery/gallery-items-4.png")
                a(href="img/gallery/gallery-items-4.png" class="gallery-magnific-popup gallery__more-img")
                    img(src="img/gallery/gallery-items-4.png")
    .items__wrapper
        .item__wrapper
            .item__icon
                img(src="img/icons/door.svg")
            .item__text Входная металлическая дверь с толщиной листа 1,2 мм
        .item__wrapper
            .item__icon
                img(src="img/icons/lock.svg")
            .item__text Фактурные обои под окраску на стенах в жилых комнатах, холле и кухне
        .item__wrapper
            .item__icon
                img(src="img/icons/wall.svg")
            .item__text Глухие или остекленные межкомнатные двери – экошпон, цвет: беленый дуб
        .item__wrapper
            .item__icon
                img(src="img/icons/floor.svg")
            .item__text Панельные стальные радиаторы со встроенными терморегуляторами, цвет: белый
        .item__wrapper
            .item__icon
                img(src="img/icons/door-2.svg")
            .item__text Панельные стальные радиаторы со встроенными терморегуляторами, цвет: белый
        .item__wrapper
            .item__icon
                img(src="img/icons/3d.svg")
            .item__text На полу в коридоре, комнатах и кухне – ламинат 32 класса, цвет: дуб сенегал
        .item__wrapper
            .item__icon
                img(src="img/icons/heat.svg")
            .item__text ПВХ плинтус в цвет пола с кабель-каналом и мягким краем
        .item__wrapper
            .item__icon
                img(src="img/icons/floor-1.svg")
            .item__text В санузле и ванной пол и стены облицованы керамической плиткой
