.section__wrapper.section-3
    .section__main__img
        .concept__wrapper
            .concept__type.concept__type-active(data-concept-type="forest") forest
            .concept__type(data-concept-type="urban") urban
        .slider.main-slider.slider-active(data-concept-content="forest")
            .slide
                img(src="img/slider-1/slide-top-1.png")
            .slide
                img(src="img/slider-1/slide-top-2.png")
            .slide
                img(src="img/slider-1/slide-top-1.png")
            .slide
                img(src="img/slider-1/slide-top-2.png")
            .slide
                img(src="img/slider-1/slide-top-1.png")
            .slide
                img(src="img/slider-1/slide-top-2.png")
        .slider.main-slider(data-concept-content="urban")
            .slide
                img(src="img/slider-1/slide-top-1.png")
            .slide
                img(src="img/slider-1/slide-top-1.png")
            .slide
                img(src="img/slider-1/slide-top-1.png")
            .slide
                img(src="img/slider-1/slide-top-1.png")
            .slide
                img(src="img/slider-1/slide-top-1.png")
            .slide
                img(src="img/slider-1/slide-top-1.png")
    .section__content
        .section__title Концепция «УРБАН ФОРЕСТ»
        .section__text Юнтолово – новый жилой комплекс в Приморском районе, построенный окружении природного заказника. Здесь реализована концепция «урбан форест» - вы живете в окружении природы, но пользуетесь всем, что может дать цивилизация. Несмотря на близость к природе, Юнтолово – это район Санкт-Петербурга и все жители имеют петербургскую прописку.
