.section__wrapper.section-6
    .section__content
        .section__title Благоустройство
        .section__text Мы позаботились о том, чтобы, выходя на улицу, вы попали в не менее комфортную среду. Поэтому особое внимание мы уделили благоустройству района. Здесь появятся большое общественное пространство, которое станет «центром притяжения» жителей района. В нем предусмотрены качественные детские площадки для разных возрастов, зоны для занятий спортом и даже место для пикника.
    .section__images__wrapper
        .img__wrapper
            img(src="img/section-6-1.png")
        .img__wrapper
            img(src="img/section-6-2.png")