.section__wrapper.section-5
    .section__main__img
        .slider.main-slider
            .slide
                img(src="img/slider-1/slide-top-1.png")
            .slide
                img(src="img/slider-1/slide-top-2.png")
            .slide
                img(src="img/slider-1/slide-top-1.png")
            .slide
                img(src="img/slider-1/slide-top-2.png")
            .slide
                img(src="img/slider-1/slide-top-1.png")
            .slide
                img(src="img/slider-1/slide-top-2.png")
    .section__content
        .section__title Безбарьерная среда и безопасность
        .section__text Продуманно, современно, безопасно – так можно описать места общественно пользования в новом квартале. Входы в парадные с уровня земли, сквозные подъезды с двумя выходами, колясочные и парковка для велосипедов – максимальное удобство для жильцов. Железные входные двери с большой площадью остекления делает делают наши подъезды светлыми, а наличие видеонаблюдения гарантирует безопасность.
                    br
                    | Все подъезды художественно оформлены в концепции «урбан форест».
