.section__wrapper.section-8
    .section__title Популярные квартиры
    .cards__items__wrapper
        .card__wrapper
            .card__image__wrapper
                img(src="img/card-plan-1.png")
            .card__title Студия № 308
            .card__subtitle 16 очередь, 36 корпус, 20 этаж
            .card__row
                .card__cell-title Ввод в эксплуатацию
                .card__cell-value 3 квартал 2020
            .card__row
                .card__cell-title Отделка
                .card__cell-value Оптима
            .card__row
                .card__cell-title Площадь
                .card__cell-value 45.26 м
                    sup 2
            .card__row
                .card__cell-title Цена за метр (с учетом скидки)
                .card__cell-value 108 500 ₽
            a(href="#").card__text-small.card__text-green Ипотека в месяц от: 26 890 ₽
            .card__row.card__row-price
                .card__text--medium 2 150 578 ₽
            a(href="#").button__wrapper Забронировать квартиру
        .card__wrapper
            .card__image__wrapper
                img(src="img/card-plan-1.png")
            .card__title Студия № 308
            .card__subtitle 16 очередь, 36 корпус, 20 этаж
            .card__row
                .card__cell-title Ввод в эксплуатацию
                .card__cell-value 3 квартал 2020
            .card__row
                .card__cell-title Отделка
                .card__cell-value Оптима
            .card__row
                .card__cell-title Площадь
                .card__cell-value 45.26 м
                    sup 2
            .card__row
                .card__cell-title Цена за метр (с учетом скидки)
                .card__cell-value 108 500 ₽
            a(href="#").card__text-small.card__text-green Ипотека в месяц от: 26 890 ₽
            .card__row.card__row-price
                .card__text--medium 2 150 678 ₽
            a(href="#").button__wrapper Забронировать квартиру
        .card__wrapper
            .card__image__wrapper
                img(src="img/card-plan-1.png")
            .card__title Студия № 308
            .card__subtitle 16 очередь, 36 корпус, 20 этаж
            .card__row
                .card__cell-title Ввод в эксплуатацию
                .card__cell-value 3 квартал 2020
            .card__row
                .card__cell-title Отделка
                .card__cell-value Оптима
            .card__row
                .card__cell-title Площадь
                .card__cell-value 45.26 м
                    sup 2
            .card__row
                .card__cell-title Цена за метр (с учетом скидки)
                .card__cell-value 108 500 ₽
            a(href="#").card__text-small.card__text-green Ипотека в месяц от: 26 890 ₽
            .card__row.card__row-price
                .card__text--medium 2 150 678 ₽
            a(href="#").button__wrapper Забронировать квартиру