.section__wrapper.section-4
    .section__content
        .section__title Счастливое детство
        .section__text Юнтолово – это про детей. Здесь есть всё, что может дать природа для их здоровья, и всё, что может дать цивилизация для развития.
            br
            | Сегодня здесь уже открыты два детских сада и школа. Все — с бассейнами, спортивными площадками, оборудованные по последнему слову техники. Всего в ЖК будет построено 9 школ и 18 детских садов.
            br
            | Здесь будут построены качественные детские площадки для всех возрастов с современным оборудованием и безопасным покрытием. Для каждого возраста – своя площадка.
        .buttons__slider
    .slider__wrapper
        .slider.slider-2
            .slide
                img(src="img/slider-2/slide-1.png")
            .slide
                img(src="img/slider-2/slide-2.png")
            .slide
                img(src="img/slider-2/slide-1.png")
            .slide
                img(src="img/slider-2/slide-2.png")
            .slide
                img(src="img/slider-2/slide-1.png")
            .slide
                img(src="img/slider-2/slide-2.png")

